go_version: 1.10.0
version: 0.0.1

testnet: true

private:
  recaptcha_private: your-recaptcha-secret
  server_secret: your-server-secret
  session_secret: your-session-secret
  aes_secret:  your-aes-secret
  login_difficulty: 0400
db:
  user: root
  passwd: your-custom-password
  host: 127.0.0.1
  port: 3306
  database: database-name
  sql_log: true
  maxopenconnection: 50
  maxidleconnection: 30
  maxconnectionlifetime: 10
walletdb:
  user: root
  passwd: your-custom-password
  host: 127.0.0.1
  port: 3306
  database: database-name
  sql_log: true
redis:
  passwd: your-custom-password
  host: 127.0.0.1
  port: 6379
  db_num: 0
  timeout: 5
  max_idle_conns: 100
  max_open_conns: 300
  initial_open_conns: 10
rpc:
  user: your-rpc-username
  passwd: your-rpc-password
  host: 127.0.0.1
  port: 18332
log:
  filename: app.log
  level: debug
  maxage: 168
  rotationtime: 24
tx:
  mini_output: 0.00000546
mail:
  host: smtp.host.com
  port: 25
  user_name: your-user-name
  password: your-password
  from_name: your-from-name
electron:
  host: 127.0.0.1
  port: 50002

